[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
lxml = "*"
beautifulsoup4 = "*"
demjson = "*"
pymysql = "*"
cryptography = "*"
pillow = "*"
pandas = "*"
dataframe-image = "*"
nbformat = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
